body {
  display: flex;
  flex-direction: column;
  max-width: 1519px;
  margin: 0;
  background-color: rgb(37, 36, 35);

}

p {
  color: white;
}

h1 {
  color: white;
}

img {
  width: 100%;
}

